doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    link(rel="stylesheet", href="styles.css") 
    title Tela inicial
  body
    div(class="opcoes-fonte")
      p(class="acessibilidade-texto") Escolha o tamanho da fonte:
      button(type="button", onclick="mudarFonte('fonte-padrao')") Padrão
      button(type="button", onclick="mudarFonte('fonte-grande')") Grande
      button(type="button", onclick="mudarFonte('fonte-maior')") Muito Grande
    div(class="centro")
      h1 Tela Inicial
      p(class="nome") #{name} Seja bem-vindo!
            

      form(action="upload", method="POST", enctype="multipart/form-data")
        label(for="file")
        input(type="file", name="file", id="file")
        br
        input(type="submit", value="Enviar",class="custom-button")
        br
      form(action="/logout", method="POST")   
        input(type="submit", value="Sair",class="custom-button")

    
script.
  function mudarFonte(classeFonte) {
    document.querySelector('.centro').classList.remove('fonte-padrao', 'fonte-grande', 'fonte-maior');
    document.querySelector('.centro').classList.add(classeFonte);
  }
