doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    link(rel="stylesheet", href="styles.css") 
    title Login
  body
    div(class="centro")
      h1 Login
      form(action="/login", method="POST")
        label(for="username") Username:
        input(type="text", name="username", id="username")
        br
        label(for="password") Password:
        input(type="password", name="password", id="password")
        br
        input(type="submit", value="Login", class="custom-button")

        // Adicione um elemento para exibir a mensagem de erro
        if mensagemErro
          p(class="erro-mensagem")= mensagemErro